[client]
default-character-set=utf8mb4

[mysqld]
port=3307
user=mysql
default-storage-engine=INNODB
default_authentication_plugin=mysql_native_password
lower_case_table_names=1
sql_mode='NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
character-set-server=utf8mb4
collation-server = utf8mb4_unicode_ci 
init_connect='SET NAMES utf8mb4'
max_allowed_packet = 256M
max_connections=1000
[mysql]
default-character-set=utf8mb4
